#content-input{
    width: 638px;
    height: 178px;
}

#post-input-title{
    color: black;
    width: 594px;
    height: 16px;
    line-height: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-align: start;
    border: 1px solid #cccccc;
    background-color: white;
    padding: 8px 10px 8px 10px;
}

#post-title{
    padding: 10px 0 15px 0;
}

#content-input{
    border: 1px solid #cccccc;
}

#form-submit{
    padding: 10px 0 15px 0;
}

#submit-button{
    color: #fff;
    background-color: #009afd;
    border: 1px solid #1777b7;
    padding: 8px 10px 7px 10px;
    font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;
}
